<form action="/" method="POST">
  <input type="hidden" name="api_key" value="<%= @api_key %>" />

  <p>
    <label>URL</label>
    <input type="text" name="url" />
  </p>

  <p>
    <label>Dimensions</label>
    W <input type="text" name="width" /> x H <input type="text" name="height" />
  </p>

  <p>
    <input type="submit">
  </p>
</form>