<form action="/" method="POST">
  <%- unless @api_key.blank? %>
    <input type="hidden" name="api_key" value="<%= @api_key %>" />
  <%- end %>
  <p>
    URL <input type="text" name="url" />
    Width <input type="text" name="width" />
    Height <input type="text" name="height" />
    <input type="submit">
  </p>
</form>
